<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

## Lab 4.2.1: Feature Selection

### 1. Load & Explore Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('whitegrid')
sns.set_context('talk')
%matplotlib inline

#### 1.1 Load Data

In [8]:
# Read CSV
wine = pd.read_csv('winequality_merged.csv')

wine.columns = wine.columns.str.replace(' ', '_')
wine.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,red_wine
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1

#### 1.2 Explore Data (Exploratory Data Analysis)

In [9]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed_acidity         6497 non-null   float64
 1   volatile_acidity      6497 non-null   float64
 2   citric_acid           6497 non-null   float64
 3   residual_sugar        6497 non-null   float64
 4   chlorides             6497 non-null   float64
 5   free_sulfur_dioxide   6497 non-null   float64
 6   total_sulfur_dioxide  6497 non-null   float64
 7   density               6497 non-null   float64
 8   pH                    6497 non-null   float64
 9   sulphates             6497 non-null   float64
 10  alcohol               6497 non-null   float64
 11  quality               6497 non-null   int64
 12  red_wine              6497 non-null   int64
dtypes: float64(11), int64(2)
memory usage: 660.0 KB

In [24]:
columns = ['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar', 'chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density', 'pH', 'sulphates', 'alcohol', 'quality']
duplicates = wine.duplicated(subset= columns, keep=False)
wine[duplicates]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,red_wine
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.400000,5,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.400000,5,1
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,10.500000,5,1
11,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,10.500000,5,1
22,7.9,0.43,0.21,1.6,0.106,10.0,37.0,0.99660,3.17,0.91,9.500000,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6450,6.4,0.33,0.44,8.9,0.055,52.0,164.0,0.99488,3.10,0.48,9.600000,5,0
6454,7.1,0.23,0.39,13.7,0.058,26.0,172.0,0.99755,2.90,0.46,9.000000,6,0
6455,7.1,0.23,0.39,13.7,0.058,26.0,172.0,0.99755,2.90,0.46,9.000000,6,0
6478,6.6,0.34,0.40,8.1,0.046,68.0,170.0,0.99494,3.15,0.50,9.533333,6,0
6479,6.6,0.34,0.40,8.1,0.046,68.0,170.0,0.99494,3.15,0.50,9.533333,6,0

In [28]:
wine.drop_duplicates(inplace=True)
wine.shape

(5320, 13)

In [30]:
wine.quality.value_counts(normalize=True)

6    0.436654
5    0.329323
7    0.160902
4    0.038722
8    0.027820
3    0.005639
9    0.000940
Name: quality, dtype: float64

### 2. Set Target Variable

Create a target variable for wine quality.

In [35]:
# Target Variable
y = wine.quality.values.reshape(-1,1)
print(y.shape)

(5320, 1)

### 3. Set Predictor Variables

Create a predictor matrix with variables of your choice. State your reason.

In [50]:
# ANSWER: All of the features describe the quality
X = wine.drop('quality', axis=1)
print(X.shape)

(5320, 12)

### 4. Using Linear Regression Create a Model and Test Score

In [51]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [54]:
# Train-Test Split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [55]:
# Create a model for Linear Regression
reg = LinearRegression()
# Fit the model with the Training data
reg.fit(X_train, y_train)
# Calculate the score (R^2 for Regression) for Training Data
train = reg.score(X_train, y_train)
# Calculate the score (R^2 for Regression) for Testing Data
test = reg.score(X_test, y_test)
print(train, test)

0.31088431244715065 0.30900322384365786

### 5. Feature Selection

What's your score (R^2 for Regression) for Testing Data? 

How many feature have you selected? Can you improve your score by selecting different features?

In [ ]:
#Answer: The R^2 for initial test was 0.22

In [42]:
corr = wine.corr().abs().unstack().sort_values(ascending=False).reset_index()

qualily_corr = corr[corr.level_0 == 'quality']
qualily_corr.head(10)

     level_0              level_1         0
1    quality              quality  1.000000
34   quality              alcohol  0.469422
62   quality              density  0.326434
85   quality     volatile_acidity  0.265205
100  quality            chlorides  0.202137
126  quality             red_wine  0.114809
132  quality          citric_acid  0.097954
137  quality        fixed_acidity  0.080092
145  quality       residual_sugar  0.056830
150  quality  free_sulfur_dioxide  0.054002

**Please continue with Lab 4.2.2 with the same dataset.**



---



---



> > > > > > > > > © 2019 Institute of Data


---



---